@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #f4f5f7;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
